spring:
  datasource:
    url: jdbc:mysql://[YOUR_DB_IP]:3306/[YOUR_DB_NAME]?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: [YOUR_DB_USERNAME]
    password: [YOUR_DB_PASSWORD]
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    # Show or not log for each sql query
    show-sql: true
    hibernate:
      # Hibernate ddl auto (validate, create, create-drop, update)
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  mvc:  # the fix for swagger
    pathmatch:
      matching-strategy: ant_path_matcher

server:
  port: 9000
