name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest



    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Replace placeholders in application.yml
      run: |
        export DB_IP="${{ secrets.DB_IP }}"
        export DB_NAME="${{ secrets.DB_NAME }}"
        export DB_USERNAME="${{ secrets.DB_USERNAME }}"
        export DB_PASSWORD="${{ secrets.DB_PASSWORD }}"

        envsubst < ./back_end/src/main/resources/application.yml > ./back_end/src/main/resources/application.yml

    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build and test
      working-directory: ./back_end
      run: mvn clean install

    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
